<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Εκπαιδευτική έρευνα</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Εκπαιδευτική έρευνα</h1>
<p class="ngabout">Τόσο οι μεγάλοι αριθμοί των φοιτητών που παρακολουθούν τα ανοικτά διαδικτυακά μαθήματα (τουλάχιστον τα πιο δημοφιλή) όσο και η εκπληκτική ικανότητα της πλατφόρμας που τα φιλοξενεί να κρατάει έναν τεράστιο όγκο δεδομένων, καθιστούν τα MOOCs προνομιούχο πεδίο για παιδαγωγικές έρευνες. 
Παραδείγματος χάριν, από τα ποσοστά των φοιτητών που απέτυχαν στην πρώτη προσπάθειά τους να απαντήσουν ορισμένες ερωτήσεις και ασκήσεις, μπορεί να εντοπίσει κανείς τα «δύσκολα σημεία» ενός μαθήματος και να επιχειρήσει τη βελτίωση της παρουσίασής τους σε δεύτερο χρόνο. 
Ακόμα μεγαλύτερο ενδιαφέρον παρουσιάζει η δυνατότητα να μελετηθούν συσχετίσεις ανάμεσα στη συχνότητα και τον τρόπο παρουσίας των φοιτητών στο φόρουμ με άλλα δεδομένα των μαθησιακών συμπεριφορών και προτιμήσεών τους. 
Ενώ η διαδικασία της <i>αλληλοαξιολόγησης</i> (peer grading ή peer assesment) &mdash;που είναι κρίσιμης σημασίας για μαθήματα ανθρωπιστικών επιστημών&mdash; προσφέρει επίσης εξαιρετικές δυνατότητες για παιδαγωγικές μελέτες σε εντελώς νέου τύπου ερωτήματα. </p>
<p class="ngabout">Αν και τα παραπάνω είναι κάπως πρόωρα για το δικό μας «μικρό πείραμα» εδώ, στην Ελλάδα, είναι όμως χρήσιμα ως… προοπτική. Το οποίο σημαίνει, μεταξύ άλλων, τούτο: Ότι θεωρούμε αναγκαίο από την πλευρά μας να εφοδιάσουμε το OpenEdX με τα κατάλληλα για εκπαιδευτική έρευνα στατιστικά εργαλεία (το ΜΙΤ αναπτύσσει ήδη ένα σχετικό «πακέτο» ανοικτού κώδικα) και να θέσουμε στη διάθεση της κοινότητας των ειδικών ερευνητών όλα τα στοιχεία της πλατφόρμας μας με όλους τους κανόνες που εφαρμόζονται σε τέτοιες περιπτώσεις. </p>
<p class="ngabout">Οι «μεγάλοι αριθμοί» δεν αναμένεται, βεβαίως, να είναι το χαρακτηριστικό των ελληνικών διαδικτυακών μαθημάτων. Ένας παράγοντας της τάξης του 1/100, σε σύγκριση με τα αμερικανικά MOOCs, είναι μια καλή… προσγείωση στην ελληνική πραγματικότητα. Με αντίστοιχη προσαρμογή προς τα κάτω και του όγκου των στατιστικών δεδομένων που υπονοήσαμε πριν. Από την άλλη μεριά, οι μικροί αριθμοί κάνουν ενδεχομένως δυνατά πιο ποιοτικά διαδικτυακά μαθήματα από ό,τι τα αντίστοιχα διεθνή. </p>
<p class="ngabout">Συμπέρασμα: Το «ελληνικό πείραμα» ίσως να είναι πιο ενδιαφέρον από ό,τι φανταζόμαστε! </p>

</td></tr></table>

</section>

