<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Οι συγγραφείς</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Οι «συγγραφείς»</h1>
<p class="ngabout">Όπως ήδη σημειώσαμε, στο <i>Mathesis</i> φροντίζουμε να μην ξεχνάμε &mdash;έχοντας πίσω μας και όλη την εμπειρία των ΠΕΚ&mdash; ότι «το μέσον δεν είναι το μήνυμα». Ότι καμιά τεχνολογία και καμιά «πλατφόρμα» δεν μπορεί να αποκρύψει την (πιθανή) απουσία εκπαιδευτικής ποιότητας στο περιεχόμενο του μαθήματος καθ’ εαυτό. Αντιθέτως, μπορεί να την κάνει να είναι ακόμα πιο έκδηλη. Ώστε η καρκινική επιγραφή «Νίψον ανομήματα μη μόναν όψιν» να βρίσκει τότε μια ακόμα εύστοχη εφαρμογή. </p>
<p class="ngabout">Η αναζήτηση «συγγραφέων βιβλιομαθημάτων» &mdash;δηλαδή καλών πανεπιστημιακών δασκάλων διατεθειμένων να αποδεχτούν την «πρόκληση» της δημιουργίας ενός ποιοτικού διαδικτυακού μαθήματος&mdash; αποτελεί έτσι τη θεμελιώδη προϋπόθεση για την επιτυχία του εγχειρήματος. Είναι επομένως αυτονόητο ότι κριτήρια «ακαδημαϊκής εντοπιότητας» δεν έχουν θέση σε αυτή την αναζήτηση. Οι συνεργάτες - «συγγραφείς» του <i>Mathesis</i> θα επιδιώξουμε να προέρχονται από όλα τα ΑΕΙ της χώρας και όχι μόνο από το Πανεπιστήμιο Κρήτης &mdash;και ειδικότερα το φυσικό του τμήμα&mdash; όπου και πραγματοποιήθηκε το πρώτο «πείραμα». Ενώ θα είναι επίσης μια σταθερή επιδίωξή μας να πείσουμε σημαντικούς έλληνες επιστήμονες του εξωτερικού να «γράψουν» μαζί μας ένα διαδικτυακό μάθημα στο ακαδημαϊκό τους αντικείμενο. </p>
<p class="ngabout">Υιοθετούμε δηλαδή και εδώ τις ίδιες αρχές που επέτρεψαν και στις «υπόλοιπες» ΠΕΚ να εξελιχθούν σε έναν εθνικό εκδοτικό οίκο για το επιστημονικό βιβλίο.
 </p>

</td></tr></table>

</section>

