<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Το προσωπικό</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Το προσωπικό</h1>
<h2>Στέφανος Τραχανάς<br/>Διευθυντής</h2>
<p class="ngabout"><img class="rs" src="/c4x/Mathesis/Phys1/asset/trachanas.jpg" alt="Στέφανος Τραχανάς">Η πανεπιστημιακή διδασκαλία και το εκπαιδευτικό υλικό που απαιτείται για να τη στηρίξει αποτελούν τα δύο κεντρικά θέματα της επαγγελματικής ζωής του Στέφανου Τραχανά. Από το 1983 έως σήμερα διδάσκει εθελοντικά στο Τμήμα Φυσικής του Πανεπιστημίου Κρήτης &mdash;κυρίως κβαντομηχανική και διαφορικές εξισώσεις&mdash; 
και έχει συγγράψει εννέα πανεπιστημιακά συγγράμματα σε αυτά τα πεδία καθώς και ένα δοκιμιακό βιβλίο για τη θέση της επιστήμης στον πολιτισμό μας. 
Επιπλέον ως ιδρυτικό μέλος και διευθυντής των Πανεπιστημιακών Εκδόσεων Κρήτης έως το 2013 (τώρα είναι πρόεδρος της εκδοτικής επιτροπής τους), είχε τη βασική ευθύνη στη δημιουργία του πρώτου πανεπιστημιακού εκδοτικού οίκου της χώρας. Ενός μη κερδοσκοπικού οργανισμού προσηλωμένου στην ποιότητα των βιβλίων ως θεμελιώδη αξία.</p>
<p class="ngabout">Για τη διδασκαλία του στο Φυσικό Τμήμα του Πανεπιστημίου Κρήτης του απονεμήθηκε το 2002 ο τίτλος του επίτιμου διδάκτορα του πανεπιστημίου, ενώ για το έργο του στις Πανεπιστημιακές Εκδόσεις Κρήτης βραβεύτηκε το 2009 με το εκδοτικό βραβείο του περιοδικού <em>Διαβάζω</em>. To 2012 έλαβε το εθνικό βραβείο εξαίρετης πανεπιστημιακής διδασκαλίας Βασίλη Ξανθόπουλου &mdash; Στέφανου Πνευματικού, ενώ για το σύνολο της προσφοράς του τιμήθηκε το 2015 με τον Ανώτερο Ταξιάρχη του Φοίνικα της Ελληνικής Δημοκρατίας.</p>
<p class="ngabout">Τα τελευταία 5 χρόνια το ενδιαφέρον του στράφηκε βαθμιαία προς τη διαδικτυακή εκπαίδευση. Αρχικά μέσω της συγγραφής ενός αυθεντικά διαδικτυακού βιβλίου κβαντικής φυσικής &mdash;από τα ελάχιστα που υπάρχουν διεθνώς&mdash; και κατόπιν με την ενεργό συμμετοχή του στο πρώτο ελληνικό πείραμα διαδικτυακής διδασκαλίας πανεπιστημιακών μαθημάτων που οργάνωσε το Φυσικό Τμήμα του Πανεπιστημίου Κρήτης, σε συνεργασία με τις ΠΕΚ. Μία πολύτιμη εμπειρία που του αποκάλυψε τις μοναδικές δυνατότητες που προσφέρουν τα διαδικτυακά μαθήματα για να φθάσει το αγαθό της εκπαίδευσης σε όσους το επιθυμούν, ανεξάρτητα από κοινωνικούς ή γεωγραφικούς φραγμούς. Και να γίνει έτσι δυνατή η μεγαλύτερη διεύρυνση ορίων στην εκπαίδευση μετά την ανακάλυψη της τυπογραφίας.</p>
<p class="ngabout">Έχοντας ευεργετηθεί κι ο ίδιος από ένα εκπαιδευτικό σύστημα που του έδωσε τη δυνατότητα να ξεφύγει από τους κοινωνικούς και μορφωτικούς περιορισμούς του περιβάλλοντός του, δεν έπαψε ποτέ να πιστεύει ότι η εξίσωση ευκαιριών στην εκπαίδευση είναι από τους ευγενέστερους &mdash;και συνάμα τους πιο "κερδο"φόρους&mdash; στόχους που μια κοινωνία αξίζει να θέτει στον εαυτό της.</p>
<p class="ngabout">Έτσι πήρε την πρωτοβουλία για την ίδρυση του <em>Mathesis</em> στο οποίο και προσφέρει εθελοντικά την εργασία του τόσο ως διευθυντής του (πλήρους και αποκλειστικής απασχόλησης) όσο και ως δάσκαλος ή συγγραφέας. Η επιτυχία του "πειράματος" είναι το προσωπικό του στοίχημα για τα επόμενα χρόνια.</p>
 



<h2>Νίκος Γκικόπουλος<br/>
Τεχνικός υπεύθυνος</h2>

<p class="ngabout">Συνεργάζεται με τις Πανεπιστημιακές Εκδόσεις Κρήτης από το 2011 ως τεχνικός πληροφορικής αρχικά για την κατασκευή ενός ειδικού διαδικτυακού βιβλίου και διαδραστικού βιβλίου και την παραμετροποίηση του λογισμικού αυτοματοποιημένης εξέτασης των χρηστών του. Ενώ από το 2014 και μετά είναι ο τεχνικός υπεύθυνος του <i>Mathesis</i> με τη βασική ευθύνη τόσο για την παραμετροποίηση της πλατφόρμας OpenEdX, όσο και τη βιντεοσκόπηση των μαθημάτων του.</p>
<!-- ενώ παράλληλα ασχολείται με την κατασκευή εκπαιδευτικών βίντεο με χρήση νέων τεχνολογιών. Έχει επίσης εργαστεί στην κατασκευή διαδραστικού βιβλίου του Mathesis, όπως και στην παραμετροποίηση ανοικτού λογισμικού συστήματος ηλεκτρονικής εξέτασης φοιτητών.-->
<p class="ngabout">Μετά τις σπουδές του στην Αγγλία ασχολήθηκε ενεργά με την διδασκαλία Η/Υ και την ανάπτυξη (διαδικτυακών και μη) εφαρμογών πληροφορικής και πολυμέσων στο Πανεπιστήμιο και το ΤΕΙ Κρήτης, και ως Διαχειριστής Συστημάτων και δικτύων στο Υπολογιστικό Κέντρο του Πανεπιστημίου, καθώς και στις αθλητικές εγκαταστάσεις του Δήμου Ηρακλείου. Παράλληλα συνεργάστηκε με το ΙΤΕ για τις ανάγκες του έργου D-Space στο οποίο ανέπτυξε εφαρμογές αυτοματοποίησης και απομακρυσμένης διαχείρισης των τηλεσκοπίων και άλλων αστρονομικών οργάνων για το Αστεροσκοπείο του Σκίνακα.</p>
<p class="ngabout">Επίσης εργάσθηκε ως ερευνητής πληροφορικής στο τμήμα Έρευνας και Ανάπτυξης της FORTHnet A.E, καθώς και σε διάφορες επιχειρήσεις του Ιδιωτικού Τομέα για την δημιουργία λογισμικού, κατασκευή ιστοσελίδων, ανάπτυξη και τεχνική υποστήριξη δικτύων, σεμινάρια κ.ά.</p>

<p>&nbsp;</p>
<p class="ngabout">
Εκτός των παραπάνω στο <i>Mathesis</i> εργάζονται επίσης, ως εξωτερικοί συνεργάτες, οι:
<ul style="margin-top:0px;line-height: 1.6em;" >
<li>Δημήτρης Αγγελάκης: Προγραμματισμός OpenEdX - παραγωγή μαθημάτων</li>
<li>Κατερίνα Λιγκοβανλή: Επικοινωνία</li>
<li>Μηνάς Θεοδωράκης: Παραγωγή μαθημάτων</li>
</ul>
</p>


</td></tr></table>

</section>


