<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Οι υποδομές</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Οι «υποδομές»</h1>
<p class="ngabout">Πέρα από τον αυτονόητο εξοπλισμό σε βιντεοκάμερες και ισχυρούς server για το OpenEdX &mdash;αμελητέου κόστους σε σχέση με εκείνο της δημιουργίας μαθημάτων&mdash; οι ΠΕΚ έχουν επίσης διαμορφώσει σε στοιχειωδώς επαρκή στούντιο δύο κατάλληλους χώρους τους, σε Ηράκλειο και Αθήνα, για τη βιντεοσκόπηση των μαθημάτων του <i>Mathesis</i>. </p>
<p class="ngabout">Σημειωτέον ότι το «γύρισμα» των διαδικτυακών μαθημάτων σε στούντιο (ή στα γραφεία των διδασκόντων αν έχουν επαρκή ηχομόνωση) είναι πλέον ο κανόνας έναντι των βιντεοσκοπήσεων τάξης. 
Με πρώτο βασικό λόγο ότι η βιντεοσκόπηση σε στούντιο επιτρέπει την προγραμματισμένη εκ των προτέρων «παραγραφοποίηση» των διαλέξεων σε «βιντεάκια» μικρής διάρκειας, μεταξύ των οποίων παρεμβάλλονται, μετά, απλές ερωτήσεις πολλαπλής επιλογής. 
Και δημιουργείται έτσι η κατάλληλη <i>μαθησιακή ακολουθία</i> (Learning sequence) που κρατά ενεργό το φοιτητή και αυξάνει σημαντικά την εκπαιδευτική αποτελεσματικότητα του μαθήματος. Επιπλέον η βιντεοσκόπηση σε στούντιο μειώνει τον συνολικό χρόνο των βίντεο τουλάχιστον κατά 50% διότι τώρα ο δάσκαλος δεν αναλώνει χρόνο στην επανάληψη σημείων του μαθήματος που δεν έγιναν πλήρως κατανοητά από τους φοιτητές, αφού αυτοί έχουν πια τη δυνατότητα να «ξαναπαίξουν» το σχετικό κομμάτι ή, βέβαια, και να προσπεράσουν άλλα σημεία της διάλεξης που τα θεωρούν γνωστά ή προφανή. 
Στη διαδικτυακή μορφή της, η μαθησιακή διαδικασία μπορεί να <i>εξατομικευτεί</i> αντί να είναι η ίδια για όλους όπως στη συμβατική τάξη. 
Έτσι, η επιλογή του <i>Mathesis</i> είναι σαφής ως προς αυτό. Η πλειοψηφία των μαθημάτων μας θα είναι με βιντεοσκόπηση στούντιο, ενώ σε εκείνες τις ολιγάριθμες περιπτώσεις που θα επιλεγεί η βιντεοσκόπηση τάξης αυτή θα πρέπει, κατ’ αρχάς, να γίνει σε συμφωνία με το οικείο πανεπιστημιακό τμήμα, και από δικό μας τεχνικό ώστε να διασφαλίζεται η ομοιομορφία των προδιαγραφών που έχουν τεθεί και σε άλλα παρόμοια μαθήματα. Επιπλέον, τα βίντεο του μαθήματος θα πρέπει μετά να «κοπούν» σε μικρότερα &mdash;να παραγραφοποιηθούν δηλαδή&mdash; με ευθύνη του διδάσκοντα για την επιλογή των σημείων… τομής. </p>
<p class="ngabout">Στις «υποδομές» του <i>Mathesis</i> &mdash;γι’ αυτό και τα εισαγωγικά&mdash; περιλαμβάνουμε λοιπόν και κάτι περισσότερο από τον εξοπλισμό ή τους κατάλληλους χώρους. Περιλαμβάνουμε, πάνω απ’ όλα, μια <i>επεξεργασμένη άποψη</i> για τη φύση και την τεχνική των διαδικτυακών μαθημάτων και μια <i>εξελισσόμενη εμπειρογνωμοσύνη</i> των ανθρώπων μας για τον τρόπο που δημιουργούνται και προσφέρονται στο κοινό τους. </p>

</td></tr></table>

</section>

