<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle"> Επικοινωνία</%block>



<style>

p.ngabout{
    text-align:justify;
    font-family:"Open Sans";
}
td.ngabout{
 background-color: #E6F4FB;
}
td.ngabout2{
padding:10px;
width:100%;
}
table.ngabout{
width:100%;
}

</style>
<section class="container about">
<h1>Επικοινωνία</h1>
<p class="ngabout">Γεια σας<br/>
Αν είστε ήδη φοιτητές του <i>Mathesis</i> και έχετε ερωτήσεις για ένα συγκεκριμένο μάθημα, παρακαλώ αναρτήστε τις στο φόρουμ του μαθήματος.<br/>
Αν δεν έχετε εγγραφεί ακόμα ως φοιτητής και έχετε κάποια γενική ερώτηση για το <i>Mathesis</i>, παρακαλούμε επισκεφτείτε πρώτα τις <i>Συχνές Ερωτήσεις</i>. Αν και τότε χρειάζεστε βοήθεια ή θέλετε να κάνετε μια υπόδειξη που μπορεί να μας φανεί χρήσιμη, στείλτε το μήνυμά σας στη διεύθυνση mathesis .at. cup.gr</p>
</section>
