<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Media kit</%block>
<section class="container about">

<table class="ngabout">
<tr><td class="ngabout"><%include file="menu-news.html"/></td>
<td class="ngabout2">



<h1>Media kit</h1>
<table width="100%">
<tr>
	<td class="prC"><a href="/c4x/edX/DemoX/asset/POSTER.jpg"><img src="/c4x/edX/DemoX/asset/POSTER.jpg" height="100px"/><br/>Αφίσα</a></td>
	<td class="prC"><a href="/c4x/edX/DemoX/asset/Hist1_1.png"><img src="/c4x/edX/DemoX/asset/Hist1_1.png" height="100px"/><br/>Μαρία Ευθυμίου</a></td>
	<td class="prC"><a href="/c4x/edX/DemoX/asset/Phys1_1.png"><img src="/c4x/edX/DemoX/asset/Phys1_1.png" height="100px"/><br/>Στέφανος Τραχανάς</a></td>


</tr>
</table>


<p class="ngabout"></p>


</td></tr></table>

</section>

