<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />


<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Το προσωπικό</h1>
<h2>Στέφανος Τραχανάς<br/>Διευθυντής</h2>
<p class="ngabout">Η πανεπιστημιακή διδασκαλία και το εκπαιδευτικό υλικό που απαιτείται για να την στηρίξει αποτελούν τα δύο κεντρικά θέματα της επαγγελματικής ζωής του Στέφανου Τραχανά. Έχει συγγράψει εννέα πανεπιστημιακά συγγράμματα και ένα δοκιμιακό βιβλίο για τη θέση της επιστήμης στον πολιτισμό μας. Επιπλέον, ως ιδρυτικό μέλος και διευθυντής των Πανεπιστημιακών Εκδόσεων Κρήτης (ΠΕΚ) έως το 2013 (τώρα είναι πρόεδρος της εκδοτικής επιτροπής τους), είχε τη βασική ευθύνη στη δημιουργία του πρώτου πανεπιστημιακού εκδοτικού οίκου της χώρας. Ενός μη κερδοσκοπικού οργανισμού προσηλωμένου στην ποιότητα των βιβλίων ως θεμελιώδη αξία. </p>
<p class="ngabout">Για τη διδασκαλία του στο φυσικό τμήμα του Πανεπιστημίου Κρήτης του απονεμήθηκε, το 2002, ο τίτλος του επίτιμου διδάκτορα του πανεπιστημίου, ενώ το 2012 έλαβε το εθνικό βραβείο εξαίρετης πανεπιστημιακής διδασκαλίας Βασίλη Ξανθόπουλου – Στέφανου Πνευματικού, που επιδίδεται από τον πρόεδρο της ελληνικής Δημοκρατίας. </p>
<p class="ngabout">Τα τελευταία 5 χρόνια το ενδιαφέρον του στράφηκε βαθμιαία προς τη διαδικτυακή εκπαίδευση. Αρχικά μέσω της συγγραφής ενός αυθεντικά διαδικτυακού βιβλίου κβαντικής φυσικής –από τα ελάχιστα που υπάρχουν διεθνώς– και κατόπιν με την ενεργό συμμετοχή του στο πρώτο ελληνικό πείραμα διαδικτυακής διδασκαλίας πανεπιστημιακών μαθημάτων που οργάνωσε το φυσικό τμήμα του Παν/μίου  Κρήτης, σε συνεργασία με τις ΠΕΚ. Καρπός της ενδιαφέρουσας εμπειρίας που αποκόμισε από αυτή την προσπάθεια ήταν η απόφασή του να αφιερωθεί αποκλειστικά στη διαδικτυακή εκπαίδευση. Η επιτυχία του <i>Mathesis</i> είναι το προσωπικό του στοίχημα για τα επόμενα χρόνια. </p>



<h2>Νίκος Γκικόπουλος<br/>
Τεχνικός υπεύθυνος</h2>

</td></tr></table>

</section>

