<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Nέα</%block>
<section class="container about">

<table class="ngabout">
<tr><td class="ngabout"><%include file="menu-news.html"/></td>
<td class="ngabout2">



<h1>Νέα</h1>
<p class="ngabout">Εκτός από θέματα και γεγονότα που σχετίζονται άμεσα με την κοινότητα του <i>Mathesis</i>, τούτος ο χώρος θα φιλοξενεί και όποια αξιόλογα <i>νέα</i> ή <i>μελέτες</i> για τη διαδικτυακή εκπαίδευση πέφτουν στην αντίληψή μας στην Ελλάδα ή στο εξωτερικό. Με καλόδεκτη βεβαίως και κάθε δική σας σχετική υπόδειξη. Και εννοείται, φυσικά, ότι οι ξενόγλωσσες πηγές θα προσφέρονται στη γλώσσα τους. Ενώ στον γειτονικό χώρο, με τον τίτλο <i>Απόψεις</i>, θα αναδημοσιεύονται κυρίως άρθρα γνώμης &mdash;ξενόγλωσσα ή ελληνικά&mdash; πάνω στα εκπαιδευτικά και άλλα ζητήματα που εγείρει η εξελισσόμενη «επανάσταση των MOOCs». Ελπίζοντας ότι θα είναι και αυτό μια μικρή συμβολή μας στη γρήγορη διάχυση των σχετικών ιδεών και στη χώρα μας.</p>

</td></tr></table>

</section>

