<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Απόψεις</%block>
<section class="container about">

<table class="ngabout">
<tr><td class="ngabout"><%include file="menu-news.html"/></td>
<td class="ngabout2">



<h1>Απόψεις</h1>
<p class="ngabout">Σε τούτο τον χώρο αναδημοσιεύονται ή δίνονται σύνδεσμοι στα πιο ενδιαφέροντα <i>άρθρα γνώμης</i> &mdash;ή <i>μελέτες</i>&mdash; για τα Μαζικά Ανοικτά ΔΙαδικτυακά Μαθήματα (ΜΑΔΙΜ ή MOOCs) και τις επιδράσεις τους (θετικές και αρνητικές) στην αναδυόμενη νέα εποχή της πανεπιστημιακής (και όχι μόνο) εκπαίδευσης.

</p>

</td></tr></table>

</section>

