<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Με λογισμό και μ’ όνειρο.</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Με λογισμό και μ’ όνειρο</h1>
<p class="ngabout">Με λογισμό και μ’ όνειρο λοιπόν. Μ’ αυτόν τον σολωμικό στίχο &mdash;και την εικαστική του απεικόνιση με «ψυχρές» γεωμετρικές μορφές από τη μια πλευρά (ο <i>λογισμός</i>) κι έναν «ζεστό» ανεμόμυλο από την άλλη (το <i>όνειρο</i>)&mdash; θα μπορούσαμε να συνοψίσουμε τα όσα είπαμε προηγουμένως για το σκοπό του Mathesis και το σχέδιό μας για την πραγματοποίησή του.
<br/>
Τον ίδιο στίχο προτείνουμε και στο φοιτητή τού Mathesis ως πνευματική στάση απέναντι στο μέλλον του και τις επιλογές που θα το διαμορφώσουν. Σ’ έναν κόσμο όπου όλα γίνονται παλιά μέσα σε πέντε χρόνια, ο λογισμός και τ’ όνειρο &mdash;η ορθολογική σκέψη και η δημιουργική φαντασία&mdash; θα του χρειαστούν εξίσου για να αντιμετωπίσει τις προκλήσεις που έρχονται.
<br/>
Αν το Mathesis τον βοηθήσει σ’ αυτό, θα έχει εκπληρώσει ένα μεγάλο μέρος της αποστολής του. Κι έχει έναν μόνο τρόπο να το κάνει, πέρα από το ίδιο το περιεχόμενο των μαθημάτων που προσφέρει. Τον αναφέραμε και πριν. Να επιμείνει στην ποιότητα ως θεμελιώδη αξία, ελπίζοντας ότι θα την ενστερνιστούν και οι φοιτητές του και θα την κάνουν δική τους αξία. Γιατί αυτή, πιστεύουμε, είναι η μόνη «ειδίκευση» που δεν θα παύσει να έχει ζήτηση όποιες κι αν είναι οι αλλαγές στα επαγγέλματα του αύριο. Η ειδίκευση στην ποιότητα: Ό,τι κάνουμε να το κάνουμε καλά. Από την πλευρά μας αυτό θα προσπαθήσουμε.</p>
<p class="ngabout"></p>

</td></tr></table>

</section>

