<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Οι εθελοντές</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Οι εθελοντές</h1>
<p class="ngabout">Τα διαδικτυακά μαθήματα δεν αρκεί να δημιουργούνται και απλώς να «παρκάρονται» στην πλατφόρμα που τα φιλοξενεί. Και να είναι ελεύθερα προσβάσιμα για αυτομελέτη από όποιον το επιθυμεί. Τα διαδικτυακά μαθήματα αποδίδουν το μέγιστο των δυνατοτήτων τους στο χρονικό διάστημα που προσφέρονται «επίσημα», με το φόρουμ ανοιχτό, οπότε δημιουργείται εκείνο το ιδιαίτερο κλίμα συλλογικής μάθησης που κάνει τη διαφορά. Όμως η παρακολούθηση του φόρουμ, οι παρεμβάσεις του διδάσκοντα ή των βοηθών του και η τακτική επικοινωνία με τους φοιτητές είναι πράγματα που επίσης έχουν κόστος, αν πρόκειται να γίνουν σωστά και με τις ίδιες αξιώσεις ποιότητας όπως και η δημιουργία του μαθήματος καθ’ εαυτό. </p>
<p class="ngabout">Κρίνοντας από τον τρόπο που δούλεψε το φόρουμ στο πρώτο σχετικό «πείραμα» δυο χρόνια πριν &mdash;όπου μια μικρή ομάδα φοιτητών (μεταξύ αυτών ένας μαθητής Λυκείου!) έλυναν πρακτικά όλες τις απορίες των συναδέλφων τους&mdash; προσανατολιζόμαστε στην ιδέα να προτείνουμε στους φοιτητές που ξεχωρίζουν όταν προσφέρεται ένα μάθημα, 
να είναι οι <i>εθελοντές βοηθοί</i> του όταν προσφερθεί την επόμενη φορά. </p>
<p class="ngabout">Εκτός πολλών άλλων αυτό θα τονώσει το κλίμα 
<i>μαθησιακής αλληλεγγύης</i> και <i>κοινότητας συνδιδασκομένων</i> που αποτελούν το κατεξοχήν νέο στοιχείο της διαδικτυακής εκπαίδευσης. </p>
<p class="ngabout">Ένα είναι βέβαιο: Το στοιχείο του εθελοντισμού &mdash;σε διάφορες μορφές του&mdash; θα είναι σίγουρα παρόν στο μέλλον του θεσμού. </p>

</td></tr></table>

</section>

