<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Η πλατφόρμα OpenEdX</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>H πλατφόρμα OpenEdx</h1>
<p class="ngabout">Ένα ιδιαίτερο χαρακτηριστικό των διαδικτυακών μαθημάτων είναι ότι η ποιότητά τους δεν είναι μόνο ζήτημα περιεχομένου και διδακτικής ικανότητας του δημιουργού τους. Εξαρτάται καίρια και από το τεχνολογικό επίπεδο της πλατφόρμας που τα διαχειρίζεται. Στην πραγματικότητα η πλατφόρμα καθ’ εαυτή &mdash;προϊόν και η ίδια μιας γόνιμης (και διαρκούς) αλληλεπίδρασης δημιουργών περιεχομένου και τεχνικών πληροφορικής&mdash; αποτελεί μια «εργαλειοθήκη» εκπαιδευτικών τεχνικών και εφαρμογών που είναι πέρα από τις δυνατότητες κάθε μεμονωμένου παρόχου διαδικτυακών μαθημάτων να τις αναπτύξει. </p>
<p class="ngabout">Έτσι, ήταν πολύ ευτυχές γεγονός για μας ότι η πλατφόρμα που χρησιμοποιεί το edX &mdash;ο μη κερδοσκοπικός οργανισμός που έχουν ιδρύσει το Harvard και το ΜΙΤ για τη δημιουργία και διαχείριση ανοικτών μαθημάτων&mdash; δόθηκε για ελεύθερη χρήση σε όποιον το επιθυμεί. 
Δηλαδή ως πλατφόρμα ανοικτού κώδικα &mdash;το OpenEdX&mdash; στην οποία έχουμε ήδη εγκαταστήσει τα πρώτα μαθήματα του <i>Mathesis</i>. 
Ενώ παράλληλα εμβαθύνουμε στον προγραμματιστικό της πυρήνα &mdash;ένα επίπονο εγχείρημα από μόνο του&mdash; ώστε να είμαστε σε θέση όχι απλώς να αξιοποιήσουμε την υπάρχουσα εκπαιδευτική εργαλειοθήκη αλλά και να την εμπλουτίσουμε με τις δικές μας εφαρμογές. Και έχουμε ήδη την πρώτη από αυτές: 
Την αυτανανεούμενη τράπεζα θεμάτων για τις εξετάσεις. </p>
<p class="ngabout">Όμως μια πλατφόρμα με την τεχνολογία, τη λειτουργικότητα και την αισθητική τού OpenEdX θέτει από μόνη της υψηλές απαιτήσεις εκπαιδευτικής ποιότητας από τα μαθήματα που φιλοξενεί.
 Έτσι, η πρόκληση για το <i>Mathesis</i> είναι πλέον τούτη: Να εξασφαλίσει &mdash;επιλέγοντας τους κατάλληλους «συγγραφείς»&mdash; ότι η ποιότητα των «βιβλιομαθημάτων» του δεν θα είναι κατώτερη του «περιβάλλοντος» που τα φιλοξενεί.</p>

</td></tr></table>

</section>

