<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<section class="container about">

<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Ο φορέας</h1>
<p class="ngabout">Το <i>Mathesis</i> ιδρύθηκε το 2015 ως ένα ιδιαίτερο τμήμα των ΠΕΚ με αποκλειστικό σκοπό τη δημιουργία και δωρεάν προσφορά στους φοιτητές, τους επαγγελματίες επιστήμονες και το ευρύτερο κοινό, διαδικτυακών μαθημάτων στο επίπεδο των καλύτερων διεθνών προτύπων. Δηλαδή στο επίπεδο που επιδιώξαμε να κινείται το εκδοτικό μας πρόγραμμα και στο παραδοσιακό έντυπο σύγγραμμα.</p>
<p class="ngabout">Πιστεύουμε ότι η χώρα μας δεν επιτρέπεται να μείνει έξω από τις επαναστατικές αλλαγές που συντελούνται παγκοσμίως σε αυτό το θέμα και κρίναμε ότι ήταν υποχρέωσή μας, ως μη κερδοσκοπικού οργανισμού που υπηρετεί δημόσιους σκοπούς και αξίες, να δημιουργήσουμε μέσα στις ΠΕΚ μια <i>εθνική εστία διαδικτυακών μαθημάτων</i> που θα παρακολουθεί τις διεθνείς εξελίξεις και θα προσπαθεί να συμβαδίζει με αυτές.</p>
<p class="ngabout">Με τον τρόπο που τα βλέπουμε εμείς –αλλά και πολλοί άλλοι στον διεθνή χώρο– τα διαδικτυακά μαθήματα δεν είναι παρά μια νέα εκδοχή πανεπιστημιακών συγγραμμάτων –<i>βιβλιομαθήματα</i> ή <i>διαδραστικά βιβλία</i> είναι κάποιοι δικοί μας όροι γι’ αυτά– τα οποία, επομένως, απαιτούν έναν ειδικευμένο φορέα με ακόμα υψηλότερο επίπεδο επαγγελματισμού και εμπειρογνωμοσύνης από ό,τι στο παραδοσιακό έντυπο βιβλίο. Έτσι, το Mathesis προέκυψε φυσιολογικά ως η επέκταση των ΠΕΚ στον χώρο των Μαζικών Ανοικτών Διαδικτυακών Μαθημάτων (ΜΑΔΙΜ ή MOOCs =  Massive Open Online Courses).</p>
<p class="ngabout">Το όνομα mathesis προέρχεται από το mathesis universalis του Καρτέσιου. Μια προσπάθεια να οικοδομηθεί –με αφετηρία την αρχαιοελληνική σημασία των λέξεων <i>μάθημα, μάθηση, μαθημα-τικός</i>– μια καθολική επιστήμη βασισμένη στον αποδεικτικό λόγω των Μαθηματικών. Στη δική μας, ταπεινότερη εκδοχή, το όνομα υποδηλώνει απλώς την πρόθεσή μας να προσφέρουμε μαθήματα που θα εκτείνονται σε όλο το φάσμα των βασικών επιστημών. Από τα μαθηματικά και τη φυσική έως την ιστορία και τη φιλοσοφία.</p>

</td></tr></table>
</section>


