<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<section class="container about">

<%include file="menu.html"/>



<h1>Δοκιμή τίτλου</h1>
<p>Δοκιμή</p>
<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>
<h3 class="faqfield-question"><a href="#">What if I have technical trouble with registration, login, or course access?</a></h3><div class="faqfield-answer"><p>Many problems with registration, login, or access to edX courses are caused by browser issues. Here are some things to try:</p>

<p>- Switch to a current version of Chrome or Firefox</p>

<p>- Check you browser settings to ensure both JavaScript and cookies are enabled</p>

<p>- Clear your browser's cache</p></div>
</section>
