<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Οι πόροι</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Οι πόροι</h1>
<p class="ngabout">Οι ικανότητες και η αφοσίωση των ανθρώπων &mdash;«συγγραφέων» και προσωπικού του 
<i>Mathesis</i>&mdash; παρότι <i>αναγκαίες συνθήκες</i> για τη δημιουργία ποιοτικών διαδικτυακών μαθημάτων, δεν είναι όμως και ικανές. Τα διεθνή πρότυπα ποιότητας που επιδιώκουμε, 
είναι ένας <i>ακριβός στόχος</i>. Απαιτεί μεγάλα ποσά ανθρωποχρόνου σε όλα τα επίπεδα εργασίας ενώ οι αβεβαιότητες είναι επίσης πολύ μεγάλες, αφού η αναγκαία εμπειρογνωμοσύνη δεν προϋπάρχει αλλά χτίζεται, κι αυτή καθ’ οδόν. 
Ακόμα περισσότερο αν σκεφτούμε ότι η διαδικτυακή εκπαίδευση είναι μια <i>ανατρεπτική τεχνολογία</i> σε πλήρη εξέλιξη. 
Θα πρέπει επομένως, εκτός των άλλων, να είναι κανείς σε συνεχή επαφή με τις διεθνείς εξελίξεις ώστε να μην αποκοπεί από αυτές. </p>
<p class="ngabout">Είναι φανερό λοιπόν ότι ένα εγχείρημα τέτοιας εμβέλειας απαιτεί όχι μόνο ανθρώπινους αλλά και οικονομικούς πόρους. Δεδομένου όμως ότι ο οργανισμός που φιλοξενεί το 
<i>Mathesis</i> &mdash;οι Πανεπιστημιακές Εκδόσεις Κρήτης&mdash; δεν δέχεται ούτε ένα ευρώ (άμεσης ή έμμεσης) κρατικής ενίσχυσης αλλά βασίζει τη λειτουργία του 
<i>αποκλειστικά</i> στα έσοδα από τις πωλήσεις των βιβλίων του, η δυνατότητα εσωτερικής χρηματοδότησης των μαθημάτων ήταν πολύ περιορισμένη. 
Έτσι, το <i>Mathesis</i> θα είχε «προσγειωθεί» σε πολύ χαμηλότερα επίπεδα απαιτήσεων και προσδοκιών, αν το Ίδρυμα Σταύρος Νιάρχος δεν έκανε δεκτή την πρότασή μας να το στηρίξει στα πρώτα του βήματα. Δηλαδή για μια τριετή πιλοτική περίοδο στο τέλος της οποίας θα κριθεί τόσο η δική μας ικανότητα να ανταποκριθούμε στον στόχο που θέσαμε όσο και η αποδοχή της προσπάθειάς μας από την εκπαιδευτική κοινότητα της χώρας και το ευρύτερο κοινό. Στην πιλοτική αυτή φάση το 
<i>Mathesis</i> θα υποστηριχτεί επίσης από τις ΠΕΚ σε όποιο πρόσθετο βαθμό κριθεί αναγκαίο. Ενώ για την ίδια περίοδο ο υπεύθυνος του «πειράματος» θα προσφέρει εθελοντικά την εργασία του, αναγνωρίζοντας ότι τα διαδικτυακά μαθήματα είναι ένα δύσκολο εγχείρημα, αμφίβολης έκβασης, του οποίου το κόστος θα πρέπει να το επωμιστεί εν μέρει και ο εμπνευστής του. </p>
<!--<p class="ngabout">Ενώ εξίσου αβέβαιο είναι και το μέλλον του «πειράματος» μετά την πιλοτική του φάση. Χωρίς έσοδα από τα προσφερόμενα μαθήματα &mdash;αφού διατίθενται δωρεάν&mdash; η δυνατότητα των ΠΕΚ και του 
<i>Mathesis</i> να συνεχίσουν την προσπάθεια θα εξαρτηθεί καίρια και από την ικανότητα της ίδιας της χώρας να αντιληφθεί τις δυνατότητες της ποιοτικής διαδικτυακής εκπαίδευσης &mdash;μεταξύ άλλων στην προώθηση της διά βίου μάθησης&mdash; και να στηρίξει τις όποιες νησίδες ποιότητας έχουν μπορέσει να δημιουργηθούν μέχρι τότε. </p>
<p class="ngabout">Προς το παρόν, το μόνο ερώτημα που έχει νόημα για μας είναι τούτο: 
<i>Μπορούμε πράγματι να παράγουμε διαδικτυακά μαθήματα με διεθνή πρότυπα ποιότητας;</i> </p>
<p class="ngabout"> </p>-->

</td></tr></table>




</section>

