<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί -  Ο φορέας</%block>
<section class="container about">

<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Ο φορέας</h1>
<p class="ngabout">Το Κέντρο Ανοικτών Διαδικτυακών Μαθημάτων <i>Mathesis</i>, ιδρύθηκε το 2015 ως ένα ιδιαίτερο τμήμα των Πανεπιστημιακών Εκδόσεων Κρήτης (ΠΕΚ) με αποκλειστικό σκοπό τη δημιουργία και δωρεάν προσφορά στους φοιτητές, τους επαγγελματίες επιστήμονες και το ευρύτερο κοινό, διαδικτυακών μαθημάτων στο επίπεδο των καλύτερων διεθνών προτύπων. Δηλαδή στο επίπεδο που επιδιώξαμε να κινείται το εκδοτικό μας πρόγραμμα και στο παραδοσιακό έντυπο σύγγραμμα.</p>
<p class="ngabout">Πιστεύουμε ότι η χώρα μας δεν επιτρέπεται να μείνει έξω από τις επαναστατικές αλλαγές που συντελούνται παγκοσμίως σε αυτό το θέμα και κρίναμε ότι ήταν υποχρέωσή μας, ως μη κερδοσκοπικού οργανισμού που υπηρετεί δημόσιους σκοπούς και αξίες, να δημιουργήσουμε μέσα στις ΠΕΚ μια <i>εθνική εστία διαδικτυακών μαθημάτων</i> που θα παρακολουθεί τις διεθνείς εξελίξεις και θα προσπαθεί να συμβαδίζει με αυτές.</p>
<p class="ngabout">Με τον τρόπο που τα βλέπουμε εμείς &mdash;αλλά και πολλοί άλλοι στον διεθνή χώρο&mdash; τα διαδικτυακά μαθήματα δεν είναι παρά μια νέα εκδοχή πανεπιστημιακών συγγραμμάτων &mdash;<i>βιβλιομαθήματα, πολυμεσικά</i> ή 
<i>διαδραστικά βιβλία</i> είναι κάποιοι δικοί μας όροι γι’ αυτά&mdash; τα οποία, επομένως, απαιτούν έναν ειδικευμένο φορέα με ακόμα υψηλότερο επίπεδο επαγγελματισμού και εμπειρογνωμοσύνης από ό,τι στο παραδοσιακό έντυπο βιβλίο. Έτσι, το <i>Mathesis</i> προέκυψε φυσιολογικά ως η επέκταση των ΠΕΚ στον χώρο των Μαζικών Ανοικτών Διαδικτυακών Μαθημάτων (ΜΑΔΙΜ ή MOOCs =  Massive Open Online Courses).</p>
<p class="ngabout">Το όνομα mathesis προέρχεται από το mathesis universalis του Καρτέσιου. Μια προσπάθεια να οικοδομηθεί &mdash;με αφετηρία την αρχαιοελληνική σημασία των λέξεων <i>μάθημα, μάθηση, μαθημα-τικός</i>&mdash; 
μια καθολική επιστήμη βασισμένη στον αποδεικτικό λόγο των Μαθηματικών. Στη δική μας, ταπεινότερη εκδοχή, το όνομα υποδηλώνει απλώς την πρόθεσή μας να προσφέρουμε μαθήματα που θα εκτείνονται σε όλο το φάσμα των βασικών επιστημών. Από τα μαθηματικά και τη φυσική έως την ιστορία και τη φιλοσοφία.</p>
<p class="ngabout">Όσο για το λογότυπό μας &mdash;το γράμμα <i>M</i> του <i>Mathesis</i> μ'ένα ανοικτό κύκλο γύρω του όπως στο κατ' εξοχήν σύμβολο της διαδικτυακής εποχής μας, το @&mdash; 
θελήσαμε να υποδηλώνει ό,τι πιο παληό και ό,τι πιο σύγχρονο συνάμα στην έννοια της μάθησης. Ενώ ο ανοικτός κύκλος υπενθυμίζει επίσης ότι η διαδικτυακή εκπαίδευση είναι ένα ανοικτό εγχείρημα σε πλήρη εξέλιξη.</p>
<p class="ngabout">Αν ήταν όμως να συνοψίσουμε την αποστολή μας σε μία μόνο λέξη, αυτή θα ήταν τούτη: 

<i>Ποιότητα</i>. Αυτή είναι η <i>βασική αξία</i> του <i>Mathesis</i>.</p>
<p class="ngabout">Αντίθετα με την κρατούσα άποψη &mdash;πως ότι σου προσφέρεται δωρεάν δεν δικαιούσαι να το

κρίνεις και να έχεις απαιτήσεις για την ποιότητά του&mdash; εμείς πιστεύουμε πως μόνο η <i>υψηλή ποιότητα</i> είναι συμβατή με την <i>ευγένεια</i> που εμπεριέχει η έννοια του <i>δωρεάν</i>· η έννοια του 

<i>δώρου</i>. Έτσι η ποιότητα των μαθημάτων είναι για εμάς μια <i>θεμελιώδης επιλογή</i>, που αν 

αποτύχουμε να την κάνουμε πράξη, όλα τα υπόλοιπα &mdash;ελεύθερη πρόσβαση στη γνώση, 

ανοικτοί εκπαιδευτικοί πόροι, κατάργηση των κοινωνικών φραγμών στη μάθηση, κ.λπ, κ.λπ&mdash; 

θα είναι απλώς <i>κενά λόγια</i>.</p>
<p class="ngabout">Στο <i>Mathesis</i> επιδιώκουμε την ποιότητα, ακριβώς επειδή πιστεύουμε ότι η <i>εξίσωση των ευκαιριών στην εκπαίδευση και στη μάθηση</i> είναι από τους ευγενέστερους στόχους που 

αξίζει να υπηρετεί κανείς.</p>


</td></tr></table>

</section>

