## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<!--ngick already moved to ngextra.css after updating assets remove it-->
<style>
.post-label-by-staff, .post-label-pinned, .post-label-following{
text-transform:none !important;
}
  .ngm{
   font-family:times; 
    font-size:1.15em;
  }
</style>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><img src="/static/themes/cuptheme/images/MLogo.svg" alt="Mathesis" height="35px" style="margin-top:-8px"></li>
          <li><a href="${marketing_link('FOREAS')}">Περί</a></li>
   <!--       <li><a href="${reverse('about')}">Περί</a></li>-->
          <li><a href="${marketing_link('NEWS')}">Νέα</a></li>
          <li><a href="${marketing_link('FAQ')}">Συχνές ερωτήσεις</a></li>
          <li><a href="${reverse('tos')}">Όροι χρήσης<!-- - Κώδικας τιμής--></a></li>
<!--  <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
  <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
  <li><a href="${reverse('about')}#careers">Careers</a></li>-->
          <li><a href="${marketing_link('CONTACT')}">Επικοινωνία</a></li>
        </ol>
      </nav>
      <br>
	<a target="_blank" href="http://www.cup.gr">
<img src="/static/themes/cuptheme/images/logo_recreated.svg" height="37px" style="float:left; margin-right:12px;"><font size="-1" style="color:#575757">Πανεπιστημιακές Εκδόσεις Κρήτης &ndash; CUP
</font></a>
<a target="_blank" href="http://www.forth.gr/"><font style="color: rgb(87, 87, 87); letter-spacing: 1px; font-size: 0.66em;"><br>Ίδρυμα Τεχνολογίας και Έρευνας &ndash; FORTH<br></font></a>
<br/>
<font size="-1" style="color:#575757">&copy; Mathesis/CUP</font>
    </div>
    <div class="references">
      <span>
<table>
<tr><td style="padding-right: 10px; text-align: center;border-right: 1px solid #575757;"><font size="-1.2">Με δωρεά από το</font><br/><a target="_blank" href="http://www.snf.org/el/">
<img src="/static/themes/cuptheme/images/SNFv.png" alt="ΙΔΡΥΜΑ ΣΤΑΥΡΟΣ ΝΙΑΡΧΟΣ" height="70px"></a></td>
	<td style="text-align:center; font-size:1.9em;padding-left: 10px;">

  
                
<a target="_blank" href="https://www.facebook.com/mathesisatcreteuniversitypress" class="share"><i class="icon fa fa-facebook-square"></i></a>
<a target="_blank" href="https://twitter.com/mathesiscup" class="share"><i class="icon fa fa-twitter-square"></i></a>
<a target="_blank" href="https://www.linkedin.com/company/mathesis-crete-university-press" class="share"> <i class="icon fa fa-linkedin-square"></i></a>
<a target="_blank" href="https://plus.google.com/103481945224325530648" class="share"> <i class="icon fa fa-google-plus-square"></i></a>
<br/><br/>

<a target="_blank" href="http://code.edx.org"><img alt="Βασισμένο στο Open edX" src="/static/themes/cuptheme/images/openedx.png" width="140"></a>
<!--Βασισμένο στο<br/><a href="http://code.edx.org">OpenEdX</a>.-->


</td></tr>
</table>
</span>
    </div>
  </footer>
</div>
