## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><img src="/static/themes/cuptheme/images/MLogo.svg" alt="Mathesis" height="35px" style="margin-top:-8px"></li>
          <li><a href="${reverse('about')}">Περί</a></li>
          <li><a href="${marketing_link('FAQ')}">Συχνές ερωτήσεις</a></li>
          <li><a href="${reverse('tos')}">Όροι χρήσης<!-- - Κώδικας τιμής--></a></li>
<!--  <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
  <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
  <li><a href="${reverse('about')}#careers">Careers</a></li>-->
          <li><a href="${marketing_link('CONTACT')}">Επικοινωνία</a></li>
        </ol>
      </nav>
      <br>
	<a href="http://www.cup.gr">
       <img src="/static/themes/cuptheme/images/logo_recreated.svg" height="37px" style="float:left; margin-right:12px;"><font size="-1" style="color:#575757">Πανεπιστημιακές Εκδόσεις Κρήτης<br>
  Crete University Press</font></a>
<br/><br/>
<font size="-1" style="color:#575757">&copy; Mathesis/CUP</font>
    </div>
    <div class="references">
      <span>
<table>
<tr><td style="padding-right: 10px; text-align: center;"><font size="-1">Με την υποστήριξη του</font><br/><a href="http://www.snf.org/el/">
<img src="/static/themes/cuptheme/images/SNFv.png" alt="ΙΔΡΥΜΑ ΣΤΑΥΡΟΣ ΝΙΑΡΧΟΣ" height="70px"></a></td>
	<td style="text-align:center; font-size:1.3em;">

  
                
<a href="http://twitter.com/" class="share"><i class="icon fa fa-twitter-square"></i></a>&nbsp;
<a href="http://www.facebook.com/YourPlatformFacebookAccount" class="share"><i class="icon fa fa-facebook-square"></i></a>&nbsp;
<a href="" class="share"> <i class="icon fa fa-linkedin-square"></i></a>&nbsp;
<a href="" class="share"> <i class="icon fa fa-google-plus-square"></i></a>
<br/><br/>

<a href="http://code.edx.org"><img alt="Βασισμένο στο Open edX" src="/static/themes/cuptheme/images/openedx.png" width="140"></a>
<!--Βασισμένο στο<br/><a href="http://code.edx.org">OpenEdX</a>.-->


</td></tr>
</table>
</span>
    </div>
  </footer>
</div>
